.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container > .forgot-box {
    background-color: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
    background-image: url("https://www.transparenttextures.com/patterns/embossed-paper.png");
    height: 500px;
    width: 500px;
    text-align: center;
    padding-top: 40px;
    border-radius: 15px;
}
.container .title {
    font-weight: 700;
    letter-spacing: 1px;
}
.container .content {
    max-width: 400px;
    margin-left: 2.5rem;
}
.container .input-field{
    padding: 5px;
}
.input-field input{
    width: 300px;
    height: 3rem;
    border-color: green;
    border-radius: 5px;
    padding-left: 10px;
    font-size: larger;
    letter-spacing: 1px;
}
.container .btn{
    padding: 10px;
}
.reset-btn{
    width: 200px;
    height: 3rem;
    background-color: green;
    color: #fff;
    font-size: larger;
    border-radius: 10px;
    cursor: pointer;  
    border-style:none ; 
}
button:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
}
.login-btn {
    width: 150px;
    border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
    border: none;
    border-radius: 10px;
    padding: 15px 5px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    
}